@media screen and (max-width: 1500px) {

    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 980px or smaller */
    }


    header {
        display: flexbox;
        flex-wrap: center;
        justify-content: flex end;
        background-color: aquamarine;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(114, 207, 250);
    }

    p {
        display: flex;
        width: 50em;
        flex: 2 100%;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: aqua;

    }

    section {
        display: flex;
        justify-content: right;
        flex-wrap: width: 50%;
        text-align: right;
        padding: 20px;
        padding-top: 0px;
        background-color: pink;
    }


    div {
        display: flex;
        background-color: rgb(205, 253, 255);
        text-align: center;
        justify-content: end;
        flex-wrap: wrap;

    }

    footer {
        display: flexbox;
        text-align: center;
        width: 100%;
        flex-wrap: flex end;
    }