@media screen and (max-width: 1080px) {
    header {
        flex-wrap: center;
        justify-content: flex end;
        background-color: aquamarine;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(114, 218, 250);
    }

    p {
        width: 50em;
        flex: 2 100%;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: aqua;

    }

    section {
        justify-content: right;
        flex-wrap: width: 50%;
        text-align: right;
        padding: 20px;
        padding-top: 0px;
        background-color: aquamarine;


        div {
            background-color: rgb(18, 130, 134);
            text-align: center;
            justify-content: end;
            flex-wrap: wrap;

        }

        footer {
            text-align: center;
            width: 100%;

        }